{% extends 'base.html' %}


{% block content %}

<div class="container page-content">
  <div class="page-heading">
    <h2>Create New Project ({{project.name}})</h2>
  </div>
  <div class="form-create-project">
    <form class="row g-3" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-md-12">
        <label for="proj_name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="{{data.name}}" id="proj_name">
      </div>
      <div class="col-md-12">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="desc" rows="3">{{data.description}}</textarea>
      </div>
      <div class="col-md-12">
        <label for="Duration" class="form-label">Start Date</label>
        <input type="date" class="form-control" name="start_date" value="{{data.start_date}}" id="Duration">
      </div>
      <div class="col-md-12">
        <label for="Duration" class="form-label">End Date</label>
        <input type="date" class="form-control" name="end_date" value="{{data.end_date}}" id="Duration">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">{% if edit %}Update{% else %}Create{% endif %}</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}

