body {
  background-color: aquamarine;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.page-content {
  padding-top: 1.5rem;
}

.project-card {
  margin: 1em;
}

.btn-create-task {
  margin-top: 2em;
}

.page-heading {
  text-align-last: center;
}

.form-create-project {
  margin-top: 1rem;
  padding: 2rem;
  background-color: rgb(199, 199, 199);
}

.project-image {
  width: 50%;
}
